.register {
  margin: 75px 16px 50px 16px;
}

.buttonContainer {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formError {
  padding-left: 9px;
  color: red;
  font-size: 14px;
}

.nameField {
  display: flex;
  gap: 30px;
}

@media only screen and (min-width: 750px) {
  .register {
    max-width: 734px;
    margin: 0 auto;
  }
}
