.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 10px;
  margin-bottom: 35px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin-top: 30px;
}

.formError {
  padding-left: 9px;
  color: red;
  font-size: 14px;
}