.header {
  background: #274d76;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  align-self: center;
}
