.eventList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.noEvents {
  margin: 25px 0 40px;
  color: #c4c4c4;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
